/* grid styling in here */

body { margin: 1rem;}


   


#wrapper {display:grid ;
    grid-template-areas:
   "logo" 
   "image" 
   "Header" 
   "info    blockquote" 
   "image"; 

   /*.. gotta read ];  */
}

/*
h1.game { grid-area: logo; }

#introduction { grid-area: intro; margin: 2rem;}
#tetgrid { grid-area: playground; }
footer { grid-area: footer; } */ 

/*from tetris project, im looking at it trying to decipher how it works again, i really need to re read the grid stuff*/