/*grid styling   try it again*/

body {
  margin: 1rem;
}

img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;

 min-width: 20%;
 max-width: 35%;

 
}
    
    .item1 {  clear: left; position: absolute;top:  2em; left: 2em; z-index: 1 ; 
      background-color: rgba(255, 255, 255, 0.8);text-align: left;}

    /*.item1 { grid-area: header; }*/
    .item2 { grid-area: img; text-align: center;}
    .item3 { grid-area: info; text-align: center; }
    .item4 { grid-area: blockquote; text-align: center;}
    .item5 { grid-area: header2; }
    .item6 { grid-area: img2; text-align: center;}
    .item7 { grid-area: blockquote2; text-align: center; }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows:  2fr 80px 1fr 1fr 2fr;
        display: grid;
        grid-template-areas:
       
        'img    img    img    img'
        'header2 header2 header2 header2'
        'info info info blockquote'
        'info info info blockquote2'
        'img2 img2 img2  img2';
      grid-gap: 10px;
      background-color: #ff6200;
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      /*text-align: center;*/
      padding: 20px 0;
      font-size: 30px;
    }

    